/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
#loading
{
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -16px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}



/** Main page styles **/
.mainPanel
{
	background-color: #f1eeff;
}


.pageColumns
{
	background-color: none;
}

/** TabLayoutPanel style overrides **/
.gwt-TabLayoutPanelContentContainer
{ 
	border: none !important; 
	box-shadow: 5px 5px 5px #a6a3b9; 
}
.gwt-TabLayoutPanelContent
{
	border: none !important;
	background-color: white;
	box-shadow: 5px 5px 5px #a6a3b9; 
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs
{
/* 	-moz-box-shadow: 5px 5px 5px #a6a3b9; */
/* 	-webkit-box-shadow: 5px 5px 5px #a6a3b9; */
/* 	box-shadow: 5px 5px 5px #a6a3b9; */
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab
{
	-moz-box-shadow: 5px 5px 5px #a6a3b9;
	-webkit-box-shadow: 5px 5px 5px #a6a3b9;
	box-shadow: 5px 5px 5px #a6a3b9;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab
{
	background-color: lightBlue !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
	background-color: white !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner 
{
	font-size: 13px;
	color: rgb (120,120,120);
  	font-weight: normal;
}
.tab
{
	overflow: scroll;
}

/** general **/
.sectionTitle
{
	font-weight:bold;
}

.removeButton
{
	border: 1px solid grey;
	width: 100%;
}
.inputBox
{
	border: 0px solid grey;
	width: 100%;
}
.dropDownBox
{
/* 	margin-left: 20px; */
	border: 0px solid silver;
	background-color: lightGray;
	width: 100%;
}
.table
{
/* 	border: 1px solid silver; */
	width: 100%;
}
.tableRow
{
 	background-color: Aqua; 
	color: black;
}
.tableHeader
{
	background-color: lightBlue;
	height: 30px;
}
.tableFirstColumn
{
	width: 350px;
}
.tableLastColumn
{
	width: 75px;
}
.tableSecondToLastColumn
{
	width: 150px;
}
.tableStandardColumn
{
	width: 150px;
}
.tableBackground
{
	background-color: silver;
	box-shadow: inset -2px 2px 12px 3px rgb(150, 150, 150);
}

.subTable
{
	margin-top: 5px;
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid silver;
	background-color: white;
	
	-moz-box-shadow: 5px 5px 5px #a6a3b9;
	-webkit-box-shadow: 5px 5px 5px #a6a3b9;
	box-shadow: 5px 5px 5px #a6a3b9;

}
.subTableRow
{
	padding: 5px;
}
.subTableColumnLeft
{
	vertical-align: top;
	horizontal-align: left;
}
.subTableHeader
{
	font-weight: bold;
	background-color: lightBlue;
	height: 25px;
}
.goalsPanelEditButton,
.flatButton
{
	border: 1px solid silver;
	background-color: white;
}


/** Day Bar **/
.dayBar
{
	margin-left: 20px;
}
.dayBarTable
{
	width: 500px;
}
.dayBarSelectedDay
{
	font-weight: bold;
	
	color: #686868;
	background-color: #e4deff;
/* 	border: 1px solid silver; */
	text-align:center;
	-moz-box-shadow: inset 2px 2px 5px #a6a3b9;
	-webkit-box-shadow: inset 2px 2px 5px #a6a3b9;
	box-shadow: inset 2px 2px 2px #a6a3b9;
}
.dayBarUnselectedDay
{
	font-weight: bold;
	color: darkGray;
	text-align:center;
}


/** Day Entry Panel **/
.statsPanel
{
/* 	-moz-box-shadow: inset -2px 2px 12px 3px rgb(150, 150, 150); */
/* 	-webkit-box-shadow: inset -2px 2px 12px 3px rgb(150, 150, 150); */
/* 	box-shadow: inset -2px 2px 12px 3px rgb(150, 150, 150); */
/* 	background-color: lightGrey; */
}
.statsPanelItem
{
	width: 200px;
}
.goalsPanelEditButton
{
	float: right;
}

/** GraphView Panel **/
.metricsPanel
{
	padding-left: 10px;	
}


/ ** general and test **/
.boxShadow
{
/* 	box-shadow: -2px 2px 12px 3px rgb(150, 150, 150); */
	box-shadow: inset 5px 5px 10px black;
}