<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
	  <servlet-name>ServerDataManager</servlet-name>
	  <servlet-class>com.tla.foodtracker.server.ServerDataManager</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ServerDataManager</servlet-name>
	  <url-pattern>foodtracker/message</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FoodTracker.html</welcome-file>
  </welcome-file-list>

</web-app>
